services:
  db:
    image: postgres:15
    container_name: viheads_postgres
    restart: always
    environment:
      POSTGRES_DB: viheads
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5431:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
